page-places {

  #submitPlace {
  position: fixed;
  bottom: -5px;
  height: 75px;
  font-weight: bold;
  font-size: 2.5rem;
  background-color: black;
  color: white;

  }

  div.scroll-content {
    padding: 0;
  }
}
