<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      PIMP MY ROUTE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header (click)="showStartingLocationContent()">
      STARTING POINT
    </ion-list-header>
  <ion-list>

    <div *ngIf="startingLocation">
      <ion-item id="currentLocationlabel">
        <ion-toggle color="danger" checked="true" [(ngModel)]="test" (ionChange)="addCustomOrigin()" ></ion-toggle>
        <ion-label>
          USE CURRENT LOCATION
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!startAddress===undefined">
        {{startAddress.formatted_address}}
      </ion-item>
    </div>



  <div #map id="map"></div>


  </ion-list>

  <ion-list>
    <ion-list-header id="destinations" (click)="showDestinations()">MY DESTINATIONS</ion-list-header>
    <div *ngIf="myDestinations">
      <ion-item>
        <button ion-button class="add-button" (click)="goToPlaces()">
          <ion-icon name="add-circle"></ion-icon>
          PLACE
        </button>
        <button ion-button item-right class="add-button" (click)="showModal()">
          <ion-icon name="add-circle"></ion-icon>
          ADDRESS
        </button>

      </ion-item>

      <div *ngFor="let address of addressDestinations">
        <ion-item id="dest-item">
          {{address.name}}
          <ion-icon id="deleteDest" name="close"></ion-icon>
        </ion-item>
      </div>
    </div>
</ion-list>


<button ion-button full (click)="getRoutes()"> Get Route </button>

</ion-content>
