<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      PIMP MY ROUTE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header (click)="showStartingLocationContent()">
      STARTING POINT
    </ion-list-header>


    <div *ngIf="startingLocation">
      <ion-item id="currentLocationlabel">
        <ion-toggle color="danger" checked="true" [(ngModel)]="currentLocationToggle" (ionChange)="addCustomOrigin()" ></ion-toggle>
        <ion-label>
          USE CURRENT LOCATION
        </ion-label>
      </ion-item>
      <ion-item *ngIf="startAddressName && !currentLocationToggle">
          <ion-input [(ngModel)]="startAddressName"></ion-input>
      </ion-item>
    </div>



  <div #map id="map"></div>




  <ion-list>
    <ion-list-header id="destinations" (click)="showDestinations()">DESTINATIONS</ion-list-header>
    <div *ngIf="myDestinations">
      <ion-item>
        <button ion-button class="add-button" (click)="goToPlaces()">
          <ion-icon name="add-circle"></ion-icon>
          PLACE
        </button>
        <button ion-button item-right class="add-button" (click)="showModal()">
          <ion-icon name="add-circle"></ion-icon>
          ADDRESS
        </button>

      </ion-item>

      <div *ngFor="let address of addressDestinations">
        <ion-item id="dest-item">
          {{address.name}}
          <ion-icon id="deleteDest" name="close"></ion-icon>
        </ion-item>
      </div>
      <ion-item id="">
        <ion-toggle checked="false" color="danger"></ion-toggle>
        <ion-label id="endRoute">
          END ROUTE WITH CURRENT LOCATION
        </ion-label>
      </ion-item>

    </div> <!-- MY DESTINATION END -->
</ion-list>


<button id="getRoute" ion-button full (click)="getRoutes()"> GET ROUTE </button>
</ion-content>
